<!-- templates/base.html -->

<html>
<head>
    <title>
        Super Smash Brothers Website
    </title>
</head>

<body>
<header>
    <h1><a href="{% url 'home' %}">Super Smash Brothers Website</a></h1>
</header>

<div>
    {% block content %}
    {% endblock content %}
</div>

</body>
</html>