<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
 {% for character in object_list %}
        <div class="post-entry">
            <h2><a href="">{{ character.name }}</a></h2>
            <p>{{ character.body }}</p>
        </div>
    {% endfor %}
   <p>This is a page view</p>
{% endblock content %}